<div class="trip-name">
Name of Trip: <%= @trip.name %><br>
Destination City: <%= @trip.destination.city_name %><br>
</div>
<div class="img-tag"><%=image_tag @trip.destination.img_url, width: 700%></div>

<button class="button-delete"><%= link_to "Delete Trip?", trip_path(@trip), :confirm => "Are you sure?", :method => :delete %>
 