
<h1> Look at all these destinations! </h1>
 <select id="Ratings">
    <option value = "lgbt">LGBT+</option>
    <option value = "women">WOMEN</option>
    <option value = "theft">THEFT</option>
    <option value = "overall">OVERALL</option>
    </select>


<div id="destinations">

      <% @destinations.each do |dest|%>
      <div class="destination-container">
         <p class= "city-name"> <%= link_to dest.city_name, destination_path(dest) %></p>
         <p class= "city-image"><%= image_tag "#{dest.img_url}", width: 200, height: 200%> </p>
      </div>
      <% end%>
      
</div>
</div>