<h1><%= @destination.city_name %></h1>

Safety Rating: <%= @destination.safety_rating %>


 <form method="get" action="/trips/new" class="button_to">
      <div><input value="Save Location" type="submit" /></div>
   </form>