// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.home {

        background: url("./background_0") no-repeat center fixed;    
        background-size: cover;
      }

.home1 {
       
        background: url("./background_1") no-repeat center fixed;    
        background-size: cover;
      }

.home2 {
       
        background: url("./background_2") no-repeat center fixed;    
        background-size: cover;
      }

.home3 {
  
        background: url("./background_3") no-repeat center fixed;    
        background-size: cover;
      }

.home4 {
       
        background: url("./background_4") no-repeat center fixed;    
        background-size: cover;
      }
      
.home5 {
       
        background: url("./background_5") no-repeat center fixed;    
        background-size: cover;
      }

.home6 {
       
        background: url("./background_6") no-repeat center fixed;    
        background-size: cover;
      }

.home7 {
       
        background: url("./background_7") no-repeat center fixed;    
        background-size: cover;
      }
      
.home8 {
       
        background: url("./background_8") no-repeat center fixed;    
        background-size: cover;
      }

.rainbow-text {
    font-family: 'Fredoka One', cursive;
    margin: 0;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #d8b916;
    text-shadow: -1px 6px 18px #012e4c;
    -webkit-text-stroke: #7f6c05;
    -webkit-text-stroke-width: 1px;

    //background-image: linear-gradient(to left, #740B73, #0375B3, #014244, #FDB745, #FD8235, #FF4537);
    //-webkit-background-clip: text;
    //-webkit-text-fill-color: transparent;
    //stroke: 10px;
}


.user-buttons{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    //width: 50px;
    //height: 70px;
    border-radius: 10px;


}

.primary-button {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    border-radius: 5px;
    width: 100px;
    margin-left: -100px;
    font-size: 15px;
    background-color: #012e4c;
 
    font-weight: bold;

}

a:link {
    color: white;
  }
  
  a:visited {
    color: white;
  }
  
  a:hover {
    color: yellow;
  }

  
  a:active {
    color: white;
  } 

.secondary-button {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #012e4c;
    
    font-weight: bold;
    position: absolute;
    border-radius: 5px;
    width: 85px;
    margin-top: 0px;
    margin-left: 40px;
  
}