// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.home {
        background: url("./SF.jpg") no-repeat center fixed;    
        background-size: cover;
      }

.rainbow-text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    background-image: linear-gradient(to left, #740B73, #0375B3, #014244, #FDB745, #FD8235, #FF4537);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    stroke: 10px;
}


.user-buttons{
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}