// Place all the styles related to the Travelers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.new-traveler-account {
    margin-top: 35px;
    margin-left: 350px;
}

.edit-traveler-account {
    margin-top: 35px;
    margin-left: 350px;
}

.form.sign-up {
    margin-top: 15px;
    margin-left: 600px;
}

.form-fields {
    margin-top: 5px;
    margin-left: 15px;
}
.form-submit {
    margin-left: 45px;
}

.login {
    margin-left:55px;
}
.login-fields {
    margin-right: 55px;
}

.login-text {
    margin-top: 25px;
    margin-left: 584px;
}


.login-marquee-wrapper {
    margin-top: 60px;
    position: relative;
    width: 100vw;
    height: 400px;
    max-width: 100%;
    overflow-x: hidden;
}

.login-marquee-contents {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
}




  .login-marquee-wrapper-greg {
    margin-top: 60px;
    position: relative;
    width: 100vw;
    height: 400px;
    max-width: 100%;
    overflow-x: hidden;
    
}

.login-marquee-contents-greg {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 10s linear infinite;
    font-size: 100px;
    font-weight: bold;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }

  

  .delete {
      background:  #ff4537;
      font-weight: bold;
      margin-top: 15px;
      margin-left: 370px ;
    } 
    
   .my-trips {
       margin-left: 775px;
       margin-bottom: 175px;
       margin-top: -656px;
   }

   .my-photo {
       margin-left: 370px;
       margin-top: 75px;
       margin-bottom: -200px;
       
   }

   .my-info {
       margin-top: 110px;
       margin-left: 370px;
   }

   .edit {
       margin-left: 370px;
       margin-top: 300px;
       background-color: #012e4c;
       font-weight: bold;
       font-family: 'Roboto', sans-serif;
}

.my-trips a {
    color: black
}
   