// Place all the styles related to the Travelers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.login {
    margin-left:55px;
}
.login-fields {
    margin-right: 55px;
}

.login-text {
    margin-top: 45px;
    margin-left: 584px;
}


.login-marquee-wrapper {
    margin-top: 100px;
    position: relative;
    width: 100vw;
    height: 400px;
    max-width: 100%;
    overflow-x: hidden;
}

.login-marquee-contents {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 20s linear infinite;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  

  .delete {
      background:  #ff4537;
      font-weight: bold;
      margin-top: 370px;
      margin-left: 370px ;
    } 
    
   .my-trips {
       margin-left: 775px;
       margin-bottom: 175px;
       margin-top: -550px;
   }

   .my-info {
       margin-top: 110px;
       margin-left: 370px;
   }