// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.button-delete {
      //position: relative;
      background:  #ff4537;
      font-weight: bold;
      margin-top: -225px;
      margin-left: 20px ;
      width: 80px;
      height: 40px;
}

.img-tag {
    margin-top: 30px;
    margin-left: 625px;
    margin-bottom: -80px;
}

.trip-name {
    margin-top: 30px;
    margin-left: 70px;
    font-size: 40px;
}

.others {
    margin-top: -480px;
    margin-left: 75px;
    width: 300px;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.397)
   
}


.others p a{
    color: black;
    margin-left: 75px;
   
}

.others  p img{
    margin-left: 75px;
}